 [ req ]
 default_bits            = 2048
 default_md              = sha256
 prompt                  = yes
 x509_extensions         = v3_req
 distinguished_name      = default_name
 [ default_name ]
 organizationName                = Org Name
 organizationName_default        = Texas A&M
 organizationalUnitName          = Unit name
 organizationalUnitName_default  = ITEC
 emailAddress                    = email
 emailAddress_default            = help@trustmarkinitiative.org
 localityName                    = City
 localityName_default            = College Station
 stateOrProvinceName             = State
 stateOrProvinceName_default     = Texas
 countryName                     = Country
 countryName_default             = US
 commonName                      = Please set this to the IDP name
 commonName_default              = texas-dps-idp.itec.tamu.edu
 [ v3_req ]
 basicConstraints        = CA:FALSE
 keyUsage                = keyEncipherment, dataEncipherment, digitalSignature, nonRepudiation
